<!DOCTYPE html>
<html>
<head>
    <title>Add Asset - NexgenOps</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>Add Asset</h1>

    <form action="/assets" method="post">

        <div class="form-group">
            <label>Asset Code</label>
            <input
                type="text"
                name="asset_code"
                placeholder="Enter Asset Code"
                required>
        </div>

        <div class="form-group">
            <label>Asset Name</label>
            <input
                type="text"
                name="asset_name"
                placeholder="Enter Asset Name"
                required>
        </div>

        <div class="form-group">
            <label>Location</label>
            <input
                type="text"
                name="location"
                placeholder="Enter Location"
                required>
        </div>

        <div class="form-group">
            <label>Status</label>

            <select name="status">

                <option value="Active">
                    Active
                </option>

                <option value="Maintenance">
                    Maintenance
                </option>

                <option value="Breakdown">
                    Breakdown
                </option>

                <option value="Retired">
                    Retired
                </option>

            </select>
        </div>

        <button type="submit">
            Add Asset
        </button>

    </form>

    <br>

    <a href="/view-assets">
        View Asset Register
    </a>

</div>

</body>
</html>
