<!DOCTYPE html>
<html>
<head>
    <title>Add Asset</title>
</head>
<body>

<h1>Add Asset</h1>

<form action="/assets" method="post">

    <input type="text" name="asset_code" placeholder="Asset Code" required>
    <br><br>

    <input type="text" name="asset_name" placeholder="Asset Name" required>
    <br><br>

    <input type="text" name="location" placeholder="Location" required>
    <br><br>

    <select name="status">
        <option value="Active">Active</option>
        <option value="Maintenance">Maintenance</option>
        <option value="Breakdown">Breakdown</option>
        <option value="Retired">Retired</option>
    </select>

    <br><br>

    <button type="submit">
        Add Asset
    </button>

</form>

</body>
</html>
