<!DOCTYPE html>
<html>
<head>
    <title>Edit Asset</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Edit Asset</h1>

<form method="post">

    <input
        type="text"
        name="asset_code"
        value="{{ asset.asset_code }}"
        required>

    <br><br>

    <input
        type="text"
        name="asset_name"
        value="{{ asset.asset_name }}"
        required>

    <br><br>

    <input
        type="text"
        name="location"
        value="{{ asset.location }}"
        required>

    <br><br>

    <select name="status">

        <option value="Active">Active</option>

        <option value="Maintenance">Maintenance</option>

        <option value="Breakdown">Breakdown</option>

        <option value="Retired">Retired</option>

    </select>

    <br><br>

    <button type="submit">
        Update Asset
    </button>

</form>

</body>
</html>
