<!DOCTYPE html>
<html>
<head>
    <title>Asset Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Asset Register</h1>

<a href="/assets">
    Add New Asset
</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Asset Code</th>
        <th>Asset Name</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for asset in assets %}

    <tr>
        <td>{{ asset.id }}</td>
        <td>{{ asset.asset_code }}</td>
        <td>{{ asset.asset_name }}</td>
        <td>{{ asset.location }}</td>
        <td>{{ asset.status }}</td>

        <td>

            <a href="/edit-asset/{{ asset.id }}">
                Edit
            </a>

            |

            <a href="/delete-asset/{{ asset.id }}">
                Delete
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

</body>
</html>
